<mat-card-content>
  <form [formGroup]="workshopFG" (ngSubmit)="submit()">

    {{workshopFG.valid}}

    <mat-form-field>
      <input type="text" matInput placeholder="Name" formControlName="nameFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Address" formControlName="addressFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Description" formControlName="descriptionFC">
    </mat-form-field>


    <div class="button">
      <button type="submit" mat-button [disabled]="!workshopFG.valid">Submit</button>
    </div>
  </form>
</mat-card-content>

