<mat-card-content>
  <form [formGroup]="vehicleFG" (ngSubmit)="submit()">

    <mat-form-field>
      <input type="text" matInput placeholder="Brand" formControlName="brandFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Model" formControlName="modelFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Registration" formControlName="registrationFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Year" formControlName="yearFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Horse Power" formControlName="horsePowerFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Engine Capacity" formControlName="engineCapacityFC">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="typeFC" matInput placeholder="Vehicle Type">
        <mat-option *ngFor="let type of keys(VEHICLE_TYPE)" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button">
      <button type="submit" mat-button>Submit</button>
    </div>
  </form>
</mat-card-content>

