<mat-card-content>
  <form [formGroup]="vehicleFG" (ngSubmit)="submit()">


    <mat-form-field>
      <input type="text" matInput placeholder="Brand" formControlName="brandFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Model" formControlName="modelFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Registration" formControlName="registrationFC">
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Generation" formControlName="generationFC">
    </mat-form-field>


    <mat-form-field>
      <input type="number" matInput placeholder="Year" [formControl]="yearFC" formControlName="yearFC" required>
      <mat-error *ngIf="yearFC.errors?.['min']"> Year cannot be lower than 1900.</mat-error>
      <mat-error *ngIf="yearFC.errors?.['max']"> Year cannot be higher than 2022.</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input type="number" matInput placeholder="Horse Power" [formControl]="horsePowerFC"
             formControlName="horsePowerFC">
      <mat-error *ngIf="horsePowerFC.errors?.['min']"> Horse Power cannot be negative</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input type="number" matInput placeholder="Engine Capacity" [formControl]="engineCapacityFC"
             formControlName="engineCapacityFC">
      <mat-error *ngIf="engineCapacityFC.errors?.['min']"> Engine Capacity cannot be negative</mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-select formControlName="typeFC" matInput placeholder="Vehicle Type">
        <mat-option *ngFor="let type of keys(VEHICLE_TYPE)" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput disabled hidden>
      <input #inputImage (change)="selectFile($event)"  id="file" type="file" style="width: 200px">
      <button *ngIf="this.selectedFiles || this.image" mat-icon-button color="primary" (click)="cleanInput()"><mat-icon>delete</mat-icon></button>
    </mat-form-field>



    <div class="button">
      <button type="submit" mat-button [disabled]="!vehicleFG.valid">Submit</button>
    </div>


  </form>
</mat-card-content>

